<html>
    <title><%=pagetitle%></title>
        <link rel="stylesheet" href="css/style.css">
          <body>
          <h1>Page Not Found!!</h1>
          <h2>Error Encountered(<%=errorMessage%>)<h2>
          </body>
</html>