<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    
    <form action="/signup" method="POST">
        <label>NAME :</label>
        <input name="uname" type="text">
        <br>
        <br>
        <label>ENTER EMAIL :</label>
        <input name="username" type="text">
        <br>
        <br>
        <label>ENTER PASSWORD :</label>
        <input name="password" type="text">
        <br>
        <br>
        <button type="submit">SIGNUP</button>
        <br>
        <button><a href="/">lOGIN</a></button>
        </form>
         
</body>
</html>