<html>
    <head>
        <title>Updation</title>
        <link type="text/css" rel="stylesheet" href='/css/style.css' />
    </head>
        <body>
            <h1>Update Your Contact.</h1>
            <% value.forEach(candidate =>{ %>
                <%if(candidate._id==resultid){%>
            
            <form action="/edit/<%=candidate._id%>" method="POST">
                <label>First name :</label>
                <input type="text" name="username" value="<%=candidate.fname%>">
                <br>
                <br>
                <label>Last name :</label>
                <input type="text" name="lastname" value="<%=candidate.lname%>">
                <br>
                <br>
                <label>Phone no  :</label>
                <input type="number" name="phonenumber" value="<%=candidate.phoneno%>">
                <br>
                <br>

                <button type="submit">Confirm</button>

                <button><a href="/first">Cancel</a></button>
                
                <%}else{%>
                <%}%>
                <%})%>
            </form>
            </body>
            </html>