*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1
{
    color: brown;
    background-color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.divdetail{

    background-color: aquamarine;
    border: 1px solid red;
    border-radius: 5px;
}
.specific{
    display: flex;
}
a{
    text-decoration: none;
}